<div>
    <p class="text-center">Please choose game mode</p>
    <ul class="row">
        <li class="col-sm" (click)="selectMode('classic')">
            <p>Classic</p>
            <!--<select name="size" id="classic-size" [value]="size">-->
                <!--<option *ngFor="let i of [3, 4, 5, 6, 7];" [value]="i" [selected]="i === 4">{{i}}x{{i}}</option>-->
            <!--</select>-->
        </li>
        <li class="col-sm">
            <span>Coming soon</span>
        </li>
        <li class="col-sm">
            <span>Coming soon</span>
        </li>
    </ul>
</div>