<div class="container-fluid root">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm text-center text-sm-left">
                    <span class="logo" (click)="chooseScreen = true;">2048</span>
                </div>
                <div class="col-sm text-left text-sm-right control-panel" *ngIf="!chooseScreen">
                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="chooseScreen = true; gameMode = '';">&#8617;</button>
                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="restart()">Restart</button>
                    <!--<button type="button" class="btn btn-outline-primary btn-sm" (click)="undo()" *ngIf="prevField !== null">Undo</button>-->
                </div>
            </div>
        </div>
        <div class="content row">
            <div class="col">
                <choose *ngIf="chooseScreen" (chooseGameMode)="setGameMode($event)"></choose>
                <classic-game
                        *ngIf="!chooseScreen && gameMode === 'classic'"
                        [size]="size"
                        (gameOverEvent)="eventTrigger($event, 'gameOver')"
                        #classicGameComponent
                ></classic-game>
            </div>
        </div>
    </div>
    <div class="copyright"><a href="//github.com/tapahbl4" target="_blank">Dmitry Marchenko</a></div>
    <overlay #overlayComponent (isOkClicked)="eventTrigger($event, 'gameOverOk')"  (isCancelClicked)="eventTrigger($event, 'gameOverCancel')"></overlay>
</div>